:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background-color: palegoldenrod;
}
.timer {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.field {
  width: 100px;
  padding: 20px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: orangered;
  border-radius: 5px;
  color: white;
}
